@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: var(--base-padding) calc(var(--base-padding) * 2);
  border-radius: var(--base-border-radius);
  background-color: $bg-color;
}

.btn {
  @include btn;
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val);
    border: 0;
    &:hover {
      background-color: color-mix(in srgb, white calc(5%), $val);
    }
  }
  .btn-outlined-#{$key} {
    @include btn(#fff);
    border: var(--base-border-thickness) solid $val;
    &:hover {
      background-color: $val;
    }
  }

}
